@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.6.0/css/fontawesome.min.css');

/* CSS Variables */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #170d0b;
    --background-color: white;
    --text-color: #2c3e50;
    --primary-font: Arial, sans-serif;
    --secondary-font: 'Merriweather', serif;
    --font-size: 16px;
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    font-size: 2.5em;
    margin-bottom: 20px;
}

.sub-heading-color {
    color: var(--primary-color);
}

/* Navbar */

nav {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    background-color: var(--primary-color);
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
    display: block;
    text-align: center;
}

.full-height {
    min-height: 100vh;
    text-align: center;
}

/* General body styling */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--primary-font);
    line-height: 1.6;
    padding: 20px;
}

/* Links */

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lists */

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
}

/* Contact Page */

.contact-hero-img {
    max-width: 150px;
    height: auto;
}

/* Success Page */

.success-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.success-icon {
    font-size: 4rem;
    color: #28a745;
}